
HeaderUpdate {
    border: 10px solid red;
    grid-row-start: 1;
    grid-row-end: 2;
}

DeliveryTime {
    border: 10px solid orange;
    grid-row-start: 3;
    grid-row-end: 4;
}

CurrentPhaseImage {
    border: 10px solid yellow;
    grid-row-start: 2;
    grid-row-end: 3;
}

.page {
    display: grid;
    grid-template-rows: 20% 60% 80%;
    width: 100vw;
    height: 100vh;
}
