#root {
    display: grid;
    grid-template-rows: 20% 60% 80%;
}

HeaderUpdate {
    border: 10px solid red;
    grid-row-start: 1;
    grid-row-end: 2;
}

DeliveryTime {
    border: 10px solid orange;
    grid-row-start: 3;
    grid-row-end: 4;
}

CurrentPhaseImage {
    border: 10px solid yellow;
    grid-row-start: 2;
    grid-row-end: 3;
}


.page1 {
    background-color: blue;
    border-color: orange;
    width: 100vw;
    height: 100vh;
}

.page2 {
    background-color: red;
    border-color: green;
    width: 100vw;
    height: 100vh;

}

.page3 {
    background-color: black;
    border-color: grey;
    width: 100vw;
    height: 100vh;

}